/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
      Change favorite color
      Default: hsl(162, 100%, 40%)
      Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
      Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)

      For more colors visit: https://colors.dopely.top/color-pedia
      -> Choose any color 
      -> click on tab (Color Conversion)
      -> Copy the color mode (HSL)
  */

  --hue: 162;
  --first-color: hsl(var(--hue), 100%, 40%);
  --first-color-alt: hsl(var(--hue), 56%, 35%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(228, 8%, 65%);
  --body-color: hsl(228, 15%, 20%);
  --container-color: hsl(228, 15%, 15%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.section-title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.section-subtitle {
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.section-subtitle span {
  color: var(--first-color);
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: var(--container-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav-logo span {
  color: var(--first-color);
}

.nav-toggle,
.nav-close {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}
/* Navigation for mobile devices */
@media screen and (max-width: 1000px) {
  .nav-menu {
    position: fixed;
    top: 0;
    background-color: hsla(0, 0%, 10%, .3);
    right: -100%;
    width: 75%;
    height: 100%;transition: right 0.5s;
    padding: 4.5rem 0 0 3rem;

    --webkit-backdrop-filter: blur(30px) /*(safary broweser)*/
    backdrop-filter: blur(30px);
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
  .nav-link{transition: color .5s;
    color: var(--title-color);
    font-weight: var(--font-medium);
    
  }
  .nav-link{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
}
/* Show menu */
.show-menu {
  right: 0;
}
/* Add blur to header */
.blur-header{
    background-color: transparent;
}

.blur-header::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,10%,.3);
    backdrop-filter: blur(24px);
    top: 0;
    left: 0;
    z-index: -1;
}
/* Active link */

/* HOME */
.home{
    background-color: var(--container-color);
}
.home-container{row-gap: 2.5rem;
    padding-top: 2rem;
    
}

.home-content{
    display: grid;
    row-gap: 2rem;
}

.home-data{
    text-align: center;
}

.home-subtitle,.home-education{
    font-size: var(--bigger-font-size);
}

.home-subtitle span, .home-title{
    color: var(--first-color);
}

.home-title{
    font-size: var(--bigger-font-size);
    font-weight: var(--font-semi-bold);
}

.home-description{
    margin-block: 1.1rem, 1.6rem;
}
.home-social{
    column-gap: 1.33rem;
    display: flex;
    justify-content: center;
    
}
.home-social-link{
    padding: .45rem;
    display: flex;
    color: var(--title-color);
    background-color: var(--first-color-alt);
    /* width :5%; */
   font-size: 1.53rem;
   clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
   transition: trasform .4s;
}

.home-social-link:hover{
    transform:translate(-.25rem);
}

.home-image{
    justify-self: center;
}

.home-blob{
    width: 320px;
    fill: var(--first-color);
    filter: drop-shadow(0 12px 12px hsla(var(--hue
    ),100%,40%,.2));
}

/* .home-img{
    width: 900px;
    transform: translateX(-120px);
} */
/*  BUTTON */
.button{
    display: inline-block;
    background-color: var(--first-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: box-shadow .5s;
}

.button:hover{
    box-shadow: 0 8px 24px hsla(var(--hue),100%,40%,.25);
}
/*  ABOUT */
.about-container{
    row-gap: 2.5rem;
}
.about-data{
    text-align: center;
}

.about-description{
    margin-bottom: 2rem;
}

.aobut-image{
    justify-self: center;
}

.about-blob{
    width: 320px;
}

.about-blob path{
    stroke: var(--first-color)
}
/*  SKILLS  */
.skills{
    background-color: var(--container-color);

}

.skills-container{
    padding-bottom: 2rem;
    row-gap: 3.6rem;

}

.skills-data{
    text-align: center;
}

/* .skills-description{
    margin-bottom: 2.2rem;
} */

.skills-content,
.skills-group{
    display: grid;
}
.skills-content{
    grid-template-columns: repeat(2, max-content);
    column-gap:4.2rem;
    justify-content: center;
    align-items: center;
}


.skills-group{
    row-gap: 1rem;
    list-style: decimal-leading-zero;
}


.skills-item{
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.skills-item::marker{
    color: var(--first-color);
}
/*  SERVICES  */

/*  PROJECTS  */
.project{
    background-color: var(--container-color);
}

.project-container{
    row-gap: 2rem;
    justify-content: center;
    padding-block: 1rem;
}

.project-card{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.project-img{
    width: 100%;
    height: 100%;
}


.project-modal{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, hsla(0,0%,0%,0)0%, hsla(var(--hue), 70%, 40%, .8) 120%);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: bottom .5s;
}

.project-subtitle,
.project-button{
    color: var(--title-color);
    font-size: var(--small-font-size);
}


.project-subtitle{
    display: block;
    margin-bottom: .25rem;
}


.project-title{
    font-size: var(--h2-font-size);
    margin-bottom: .75rem;
}

.project-button{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
}

.project-button i{
    font-size: 1.25rem;
}

.project-card:hover .project-modal{
    bottom: 0;
}
/*  CONTACT  */
.contact-container{
    padding-top: 1rem;

}

.contact-form,
.contact-group{
    display: grid;
    row-gap: 1rem;
}

.contact-form{
position: relative;
}


.contact-input{
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    background-color: var(--container-color);
    color: var(--title-color);
}

.contact-input::placeholder{
    color: var(--text-color);
}

.contact-form textarea{
    height: 11rem;
    resize: none;
    margin-bottom: 2rem;
}

.contact-button{
    justify-self: center;
    cursor: pointer;
}
 
.contact-message{
    position: absolute;
    left: 0;
    bottom: 4.5rem;
    font-size: var(--small-font-size);
    color: var(--title-color);
}
/*  FOOTER */

/*  SCROLL BAR  */

/*  SCROLL UP  */

/* Show Scroll Up */

/*  BREAKPOINTS  */
/* For small devices */

/* For medium devices */

/* For large devices */
